body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #4a4e69;
}

header {
  height: 80px;
  width: 100vw;
  color: #f2e9e4;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(34, 34, 59, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 34, 59, 0.75);
  height: 80px;
  width: 100vw;
  margin-top: 300px;
}

span.footnote {
  color: #f2e9e4;
  font-weight: 700;
}

.brand-logo {
  padding-left: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
  max-width: 300px;
  margin-top: 25px;
}

.nav-burger {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.line1,
.line2,
.line3 {
  background-color: #f2e9e4;
  height: 5px;
  width: 40px;
  margin: 2.5px 0 2.5px 0;
  border-radius: 10%;
}

div.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 2rem;
  color: #f2e9e4;
  text-align: center;
  animation-direction: alternate-reverse;
  animation-duration: 0s;
  animation-name: rainbow-text;
  animation-iteration-count: infinite;
}

h2 {
  color: #f2e9e4;
}

@keyframes rainbow-text {
  0% {
    color: black;
  }
  20% {
    color: red;
  }
  40% {
    color: orange;
  }
  60% {
    color: green;
  }
  60% {
    color: purple;
  }
  100% {
    color: royalblue;
  }
}
@keyframes rainbow-img {
  0% {
    border-color: black;
  }
  20% {
    border-color: red;
  }
  40% {
    border-color: orange;
  }
  60% {
    border-color: green;
  }
  60% {
    border-color: purple;
  }
  100% {
    border-color: royalblue;
  }
}

img:hover {
  animation-direction: alternate-reverse;
  animation-duration: 5s;
  animation-name: rainbow-img;
  animation-iteration-count: infinite;
}
