body {
  background-color: black;
  box-sizing: border-box;
}

span.footnote {
  color: #f2e9e4;
  font-weight: 700;
  padding: 0 40px 0 40px;
}

.brand-logo {
  padding-left: 2rem;
}

.draw-me-now {
  width: 400px;
  opacity: 1;
  stroke-width: 1px;
  fill: none;
  stroke: rgba(255, 255, 255, 0.445);
}

img {
  border-radius: 50%;
  max-width: 300px;
  margin-top: 25px;
}

.nav-burger {
  display: none;
  flex-direction: column;
  padding-right: 2rem;
}

.line1,
.line2,
.line3 {
  background-color: #f2e9e4;
  height: 5px;
  width: 40px;
  margin: 2.5px 0 2.5px 0;
  border-radius: 10%;
}

header {
  max-height: 80px;
  width: 100vw;
  color: #f2e9e4;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  grid-row: 1 / 2;
}

.App {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  justify-items: center;
  height: 100vh;
  overflow: hidden;
}

section.hero {
  margin: 0;
  padding: 0;
  grid-row: 2 / 3;
  height: 80vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 20px;
  height: 20px;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
}

h2 a {
  text-decoration: none;
  color: #f2e9e4;
}

h2 a:visited {
  color: #f2e9e4;
}

.slogan {
  font-size: 5rem;
  opacity: 0;
  position: absolute;
}

section.head-shot {
  grid-row: 3 / 4;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  grid-row: 4 / 5;
  background-color: rgba(78, 78, 92, 0.75);
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #f2e9e4;
  text-align: center;
}

h2 {
  color: #f2e9e4;
  text-align: center;
}
